#
# Application properties will be set here
#
application-properties:
  keycloak-authentication:
    username: ${KC_USERNAME:admin}
    password: ${KC_PASSWORD:123456}
    client-id: ${KC_ADMIN_CLIENT:admin-cli}
    realm: ${KC_MASTER_REALM:master}
    auth-server: ${KEYCLOAK_HOST:http://localhost:8080}
  # One single point for reusability
  message-topic:
    new-comment:
      topic-name: new-comment
      type: NEW_COMMENT
    new-post:
      topic-name: new-post
      type: NEW_POST
    new-subscriber:
      topic-name: new-subscriber
      type: NEW_SUBSCRIBER
  security:
    realm-name: ${KEYCLOAK_REALM:spring-base}
    client-name: ${KEYCLOAK_CLIENT:spring-base-client}
    # noinspection HttpUrlsUsage
    issuer-uri: ${application-properties.keycloak-authentication.auth-server}/realms/${application-properties.security.realm-name}
    no-authenticated-verb-urls:
      - { method: GET, url: /post/** }
      - { method: GET, url: /category/search/** }
      - { method: GET, url: /comment/** }
      - { method: DELETE, url: /auth/logout/** }
    no-authenticated-urls:
      - /free/**
      - /health
      - /v3/api-docs/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /swagger-resources/**
      - /configuration/ui/**
      - /configuration/security/**
      - /webjars/**
    high-privilege-verb-urls:
      - { method: DELETE, url: /category/** }
#
# End of application properties
#
server:
  port: ${SERVER_PORT:8088}
  shutdown: GRACEFUL
spring:
  application.name: spring-base
  cloud.stream:
    bindings:
      newPost-out-0:
        destination: ${application-properties.message-topic.new-post.topic-name}
      newSubscriber-out-0:
        destination: ${application-properties.message-topic.new-subscriber.topic-name}
      newComment-out-0:
        destination: ${application-properties.message-topic.new-comment.topic-name}
    default-binder: rabbit
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:myspringdatabase}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:123456}
  liquibase.enabled: ${LIQUIBASE_ENABLED:true}
  # Make your default spring boot logging colorful (if you are using Community version lmao)
  output.ansi.enabled: ALWAYS
  threads.virtual.enabled: true # Make use of Virtual Threads if possible
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:rabbitmq}
    password: ${RABBITMQ_PASSWORD:123456}
  security.oauth2.resourceserver.jwt:
    issuer-uri: ${application-properties.security.issuer-uri}
    audiences: account
decorator.datasource.p6spy:
  custom-appender-class: com.vulinh.MyP6SpyLogging
  logging: CUSTOM
management.endpoints.web:
  base-path: ''
  exposure.include: health
springdoc.swagger-ui:
  path: /swagger-ui
  disable-swagger-default-url: true