#
# Application properties will be set here
#
application-properties:
  security:
    realm-name: ${KEYCLOAK_REALM:spring-base}
    client-name: ${KEYCLOAK_CLIENT:spring-base-client}
    auth-server: ${KEYCLOAK_HOST:http://localhost:8080}
    # noinspection HttpUrlsUsage
    issuer-uri: ${application-properties.security.auth-server}/realms/${application-properties.security.realm-name}
    no-authenticated-verb-urls:
      - { method: GET, url: /post/** }
      - { method: GET, url: /category/search/** }
      - { method: GET, url: /comment/** }
      - { method: DELETE, url: /auth/logout/** }
    no-authenticated-urls:
      - /free/**
      - /health
      - /v3/api-docs/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /swagger-resources/**
      - /configuration/ui/**
      - /configuration/security/**
      - /webjars/**
      - /auth/login/**
      - /auth/register/**
      - /auth/confirm-user/**
      - /auth/reset-password/**
      - /auth/refresh-token/**
      - /password/**
      - /user/search/**
    high-privilege-urls:
      - /user/create-user/**
      - /user/delete-user/**
      - /user/search/**
    high-privilege-verb-urls:
      - { method: DELETE, url: /category/** }
#
# End of application properties
#
server:
  port: ${SERVER_PORT:8088}
  shutdown: GRACEFUL
spring:
  # Make your default spring boot logging colorful (if you are using Community version lmao)
  output.ansi.enabled: ALWAYS
  application.name: spring-base
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:myspringdatabase}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:123456}
  liquibase.enabled: ${LIQUIBASE_ENABLED:true}
  threads.virtual.enabled: true # Make use of Virtual Threads if possible
  security.oauth2.resourceserver.jwt:
    issuer-uri: ${application-properties.security.issuer-uri}
    audiences: account
decorator.datasource.p6spy:
  custom-appender-class: com.vulinh.MyP6SpyLogging
  logging: CUSTOM
management.endpoints.web:
  base-path: ''
  exposure.include: health
springdoc.swagger-ui:
  path: /swagger-ui
  disable-swagger-default-url: true