#
# Application properties will be set here
#
application-properties:
  security:
    realm-name: ${KEYCLOAK_REALM:spring-base}
    client-name: ${KEYCLOAK_CLIENT:spring-base-client}
    issuer: ${SECURITY_ISSUER:spring-base-service}
    # noinspection HttpUrlsUsage
    issuer-uri: http://${KEYCLOAK_HOST:localhost:8080}/realms/${application-properties.security.realm-name}
    #
    # Go to https://www.devglan.com/online-tools/rsa-encryption-decryption to generate your own key
    #
    public-key: ${PUBLIC_KEY}
    private-key: ${PRIVATE_KEY}
    no-authenticated-verb-urls:
      - { method: GET, url: /post/** }
      - { method: GET, url: /category/search/** }
      - { method: GET, url: /comment/** }
      - { method: DELETE, url: /auth/logout/** }
    no-authenticated-urls:
      - /free/**
      - /health
      - /v3/api-docs/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /swagger-resources/**
      - /configuration/ui/**
      - /configuration/security/**
      - /webjars/**
      - /auth/login/**
      - /auth/register/**
      - /auth/confirm-user/**
      - /auth/reset-password/**
      - /auth/refresh-token/**
      - /password/**
      - /user/search/**
    high-privilege-urls:
      - /user/create-user/**
      - /user/delete-user/**
      - /user/search/**
    high-privilege-verb-urls:
      - { method: DELETE, url: /category/** }
    jwt-duration: ${JWT_DURATION:5m}
    refresh-jwt-duration: ${REFRESH_JWT_DURATION:1d}
    password-reset-code-duration: ${PASSWORD_RESET_CODE_DURATION:1h}
  schedule:
    clean-expired-user-sessions: ${CLEAN_EXPIRED_SESSIONS_CRON:0 0/1 1-5 * * *} # Runs every minute between 1:00 AM and 5:59 AM daily
#
# End of application properties
#
server:
  port: ${SERVER_PORT:8088}
  shutdown: GRACEFUL
  servlet.application-display-name: ${application.name}
spring:
  # Make your default spring boot logging colorful (if you are using Community version lmao)
  output.ansi.enabled: ALWAYS
  application.name: spring-base
  data.redis:
    repositories.enabled: false
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    client-type: lettuce
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:myspringdatabase}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:123456}
  # END: change this to fit your computer's configuration
  liquibase:
    enabled: ${LIQUIBASE_ENABLED:true}
  threads.virtual.enabled: true # Make use of Virtual Threads if possible
  security.oauth2.resourceserver.jwt:
    issuer-uri: ${application-properties.security.issuer-uri}
    audiences: account
decorator.datasource.p6spy:
  custom-appender-class: com.vulinh.MyP6SpyLogging
  logging: CUSTOM
management.endpoints.web:
  base-path: ''
  exposure.include: health
springdoc.swagger-ui:
  path: /swagger-ui
  disable-swagger-default-url: true